				<!-- One -->
                <section id="one" class="wrapper style2 spotlights">
                    <section>
                        <a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a>
                        <div class="content">
                            <div class="inner">
                                <h2>Programmer</h2>
                                <p>I have been programming since 2016 and have used an array of languages like C++, java, python, HTML, SQL and more.</p>
                                <ul class="actions">
                                    <li><a href="generic.html" class="button">Learn more</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section>
                        <a href="#" class="image"><img src="images/IMG_6970.jpg" alt="" data-position="top center" /></a>
                        <div class="content">
                            <div class="inner">
                                <h2>Mountain Bike Rider</h2>
                                <p>One of my favorite activities todo away from a computer is competing in Enduro races.</p>
                                <ul class="actions">
                                    <li><a href="generic.html" class="button">Learn more</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section>
                        <a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a>
                        <div class="content">
                            <div class="inner">
                                <h2></h2>
                                <p></p>
                                <ul class="actions">
                                    <li><a href="generic.html" class="button">Learn more</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </section>
